html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}


/* media size updates for responsive display */
.container {
  width: 40%;
  background-color: white;
  margin: auto;
  margin-top: 80px;
  padding: 25px 0;
}

@media (min-width: 500px) and (max-width: 1450px ){
  .container {
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    padding: 25px 0;
  }
}

@media (max-width: 500px){
  .container {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    padding: 25px 0;
  }
}
