
/* Tip: add a bunch of empty or placeholder lines or paragraphs to the body so
you can see how it behaves when you scroll vertically. */


#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #00a087;
  padding: 0 2em;
}

#nav-bar #composeBtn {
  position: absolute;
  right: 25px;
  grid-column: 4;
  padding: 1em .5em;
  border: 1px solid black;
  border-radius: 10px;
  color: #00a087;
}

#composeBtn:hover {
  background-color: #ccc;
  border: 2px solid white;
}

#nav-bar .header {
  color: #e8fdff;
  font-size: 2em;
  padding-left: 10px;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}
