
/* Tip: add a bunch of empty or placeholder lines or paragraphs to the body so
you can see how it behaves when you scroll vertically. */


#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #00a087;
  padding: 0 2em;
}

#nav-bar .header {
  color: #e8fdff;
  font-size: 2em;
  padding-left: 10px;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}
